.logo {
    width: 15rem;
}


div{
    display: block;
}

#color-table {
    grid-column: 3;
    grid-row: 2;
    margin-top: 40px;
}

* {
    
    box-sizing: border-box;
}

table {
    width: 700px;
    
    padding: 5px;
    border: 1px solid;
    text-align: center;
    display: table;
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
    
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.primary {
    background-color: #3772ff;
    color: #e6e8e6;
}

.primary-nav {
    background-color: #df2935;
    color: #e6e8e6;
}

table, th, td {
    
    padding: 5px;
    border: 1px solid;
    text-align: center;
    margin-left: 30%;
}

td {
    display: table-cell;
    vertical-align: inherit;
}

.secondary {
    background-color: #df2935;
    color: #e6e8e6;
}

.accent-1{
    background-color:  #fdca40;
    color: #080708;
}

.accent-2 {
    background-color: #e6e8e6;
    color: #080708;
}

#typo-grid {
    grid-column: 3;
    grid-row: 3;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}

h2 {
    font-family: "Merrieweather", "serif";
    color: #080708;
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    text-align: center;
    font-weight: bold;
}

#h3-color-pall {
    text-align: center;
}

.pallet-colors{
    text-align: center;
}

#sample-40 {
    font-size: 40px;
    background-color: #3772ff;
    color: white;
}

#sample-30-1 {
    font-size: 30px;
    background-color:  #df2935;
    color: white;
}

#sample-30-2 {
    background-color: #fdca40;
    color: white;
}

#sample-25{
    background-color: #080708;
    color: white;
}

#sample-20-1 {
    font-size: 20px;
    background-color:  #df2935;
    color: white;

}

#sample-20-2 {
    background-color: #e6e8e6;
    color:#080708;
}

#sample-16 {
    background-color: #080708;
    color: white;
}

.footer-nav {
    background-color: #df2935;
    color: white;
}

.secondary-color {
    background-color: #080708;
    color: white;
}

.secondary-h1-color {
    background-color: #fdca40;
    color:white;
}

.secondary-heading-color {
    background-color: #e6e8e6;

}

.secondary-paragraph-color {
    background-color: #080708;
    color: white;
}


