table {
    margin: 10px auto;
    border: thin solid rgb(201, 201, 201);
	border-collapse: collapse;
}

caption {
    padding: 10px;
    caption-side: bottom;
	color: black;
	font-size: .85rem;
}

thead {
	color: white;
}

thead tr:nth-child(1) {
    background-color: black;
}

thead tr:nth-child(2)
{
    background-color: rgb(61, 61, 61);
}

thead tr > th:empty
{
    background-color: black;
}

th, td {
	padding: 7px 15px;
}

td {
    border-left: 1px solid rgb(201, 201, 201);
}

th {
	background-color: var(--back2);
	font-size: larger;
}

td {
	text-align: center;
}

tbody tr:nth-child(even) {
	background-color: rgb(235, 235, 235);
}