header {
    background-color: #3772ff;
    display: flex;
    justify-content: start;
    align-items: center;
    
    border: 1px solid #e6e8e6;

}

.name {
    margin-right: 1rem;
    font-size: 2.5em;
}

nav {
    width: 80%;
    background-color:#df2935;
    margin: 0 auto;
}

nav  ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    
}

.logo {
    width: 15rem;
}

ul {
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-inline-start: 0px;
    list-style-type: none;
    font-size: 1em;
    border:1px solid #e6e8e6;
}

nav a {
    display: block;
    text-align: center;
    padding: 1rem;
    text-decoration: none; 
    color: #e6e8e6;
}

nav a:hover {
    border: 1px solid #e6e8e6;
}

.purpose-site {
    font-size: 2.5em;
    text-align: center;
}

body {
    background-color :#e6e8e6;
    font-family: 'Merriweather', serif;
}

h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
  }
  
.purpose {
    width: 65%;
    margin: 0 auto;
    text-align: center;
    border: solid 1px #fdca40;
    font-size: 1.2em;
    padding: 10px;
    box-sizing: border-box;
}

h1 {
    font-size: 2.5em;
    color: #fdca40;
}

h2 {
    font-size: 2em;
}

p {
    font-size: 1.2em;
}

footer {
    background-color:#3772ff;
    font-size: 1em;
    color: #e6e8e6;
    border:1px solid #e6e8e6;
    text-align: center;
    margin-top: 11rem;
}