@media (max-width: 640px) {

    header {
        display: flex;
        background-color: #3772ff;
        display: grid;
        grid-template-columns: 15% 30% 15% 40%;
        border: 1px solid #e6e8e6;
    }

    .name {
        font-size: 1.5em;
    }

    .subname {
        font-size: 1.3em;
    }

    .social-media {
        display: flex;
        flex-direction: row;
    }

    .logo {
        margin-left: -35px;
        display: block;
        width: 8rem;
    }

    h2 {
        font-size: 1.3em;
    }

    header {
        position: relative;
    }

    nav a {
        display: block;
        padding: 1rem;
        text-decoration: none;
        color: black;

        font-family: 'Roboto', sans-serif;
    }

    nav a:hover {
        border: 1px solid #fdca40;
    }


    .menu-btn {
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 999;
        cursor: pointer;
    }

    .navigation-header {
        display: none;
    }

    .navigation-header.active {
        display: block;
    }

    .menu-btn__line {
        width: 35px;
        height: 1px;
        background-color: #fdca40;
        position: relative;
        margin-bottom: 5px;
        transform-origin: center;
        transition: transform 0.3s ease;
    }

    .menu-btn__line:nth-child(1),
    .menu-btn__line:nth-child(3) {
        width: 100%;
    }

    .navigation-header.active .menu-btn__line:nth-child(1) {
        transform: translateY(6px) rotate(45deg);
    }

    .navigation-header.active .menu-btn__line:nth-child(2) {
        opacity: 0;
    }

    .navigation-header.active .menu-btn__line:nth-child(3) {
        transform: translateY(-6px) rotate(-45deg);
    }

    .menu-btn.active .menu-btn__line:nth-child(1) {
        transform: translateY(6px) rotate(45deg);
    }

    .menu-btn.active .menu-btn__line:nth-child(2) {
        opacity: 0;
    }

    .menu-btn.active .menu-btn__line:nth-child(3) {
        transform: translateY(-6px) rotate(-45deg);
    }

    #hero-content {
        position: relative;
        display: flex;
        grid-template-columns: 1fr;

    }

    .hero {
        position: relative;
        grid-column: 1;
        width: 100%;
        height: auto;
    }

    .hero-img {
        width: 100%;
        height: 500px;
    }

    .hero h2 {
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #df2935;
        z-index: 1;
    }

    .button {
        position: absolute;
        top: 80%;
        left: 5%;
        transform: translate(-10%, -30%);
        display: block;
        padding: 10px 20px;
        height: 35px;
        background-color: #df2935;
        color: #e6e8e6;
        text-decoration: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .button:hover {
        background-color: #3772ff;
    }

    main div {

        background-color: lightgray;
        height: auto;
        width: auto;
        margin: 5px;
    }

    #events-weather {
        display: flex;
        flex-direction: column;

    }

    .events {
        grid-column: 1;

        width: 100%;
        height: 200px;

    }

    .events a {
        text-align: center;
    }

    .weather {
        grid-column: 1;

        width: 100%;
        height: 200px;

    }

    #spotlights {
        display: grid;
        grid-template-columns: 1fr;
        grid-row: 3;
    }

    .spotlight-1 {
        grid-column: 1;
        grid-row: 1/4;
        width: auto;
        height: 300px;
    }

    .spotlight-2 {
        grid-column: 1;
        grid-row: 2/4;
        width: auto;
        height: 300px;
    }

    .spotlight-3 {
        grid-column: 1;
        grid-row: 3/4;
        width: auto;
        height: 300px;
    }


    .spotlight-1 img,
    .spotlight-2 img,
    .spotlight-3 img {
        width: 35%;
        height: auto;
        max-width: 100%;
        margin-left: 170px;
    }

    /* Design Styles - Discover */

    .grid-container {
        display: block;
    }

    .sidebar-box1 {
        display: block;
        grid-column: 1;
        grid-row: 1;
        background-color: #e6e8e6;
        padding: 10px;
        margin-bottom: 10px;
    }

    .dates-sgo {
        list-style-type: circle;
    }

    .sidebar-box2 {
        display: block;
        grid-column: 1;
        grid-row: 2;
        background-color: #e6e8e6;
        padding: 10px;
        margin-bottom: 10px;
    }

    .sidebar-box3 {
        display: block;
        grid-column: 1;
        grid-row: 3;
        background-color: #e6e8e6;
        padding: 10px;
        margin-bottom: 10px;
    }

    .sidebar-box4 {
        display: block;
        grid-column: 1;
        grid-row: 4;
        background-color: #e6e8e6;
        color: black;
        padding: 10px;
        margin-bottom: 10px;
    }

    .sidebar-box5 {
        display: block;
        grid-column: 1;
        grid-row: 5;
        background-color: #e6e8e6;
        color: black;
        padding: 10px;
        margin-bottom: 10px;
    }

    #sidebar-box6 {
        display: block;
        grid-column: 1;
        grid-row: 6;
        background-color: #df2935;
        color: white;
        padding: 10px;
        margin-bottom: 10px;
    }


    /*Join Section */
    form fieldset {
        background-color: #fdca40;
        width: 100%;
        margin: 2rem 0;
        border: 2px solid #df2935;
        border-radius: 10px;
        padding: .5rem 2%;
    }

    form legend {

        text-align: center;
        padding: 0 .5rem;
    }

    form label.top,
    form div {
        display: block;
        padding-top: 1rem;

        font-size: 1rem;
    }


    form label.top input,
    form label.top select {
        -webkit-appearance: none;
        display: block;
        font-size: 1.1rem;
        border: solid 2px #fdca40;
        border-radius: 4px;
        padding: .75rem;
        color: black;
        width: 100%;
        max-width: 20rem;
        background-color: #e6e8e6;
    }

    form label.sbs {
        display: block;
        padding: .4rem 0;
        color: black;
    }

    textarea {
        width: 70%;
    }

    form input.submitBtn {
        border: none;
        background-color: #df2935;
        color: white;
        border-radius: 1rem;
        padding: .75rem 1.5rem;
        margin: 0 0 2rem 2%;
        width: 96%;
        max-width: 20rem;
        margin: 0 auto 10px;
    }

    form label.top input:required {
        border-left: red solid 6px;
    }

    form label.top input:required:valid {
        border-left: green solid 6px;
    }

    .thanks {
        display: block;
        text-align: center;
        color: #e6e8e6;
        font-size: 1.5rem;
        background-color: #df2935;
        width: 50%;
        height: 200px;
        margin: 20px;
    }

    /*Directory Section*/
    .menu-container {
        text-align: center;
        margin-top: 1rem;
    }
    
    .menu-container button {
        margin-top: 0.5rem;
        padding: 0.5rem;
    }
    
    .grid-view {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        margin-bottom: 1rem;
    }
    
    .grid-view section {
        text-align: center;
        margin: 1rem;
        padding: 1rem;
        border: 2px solid #fdca40;
        padding: 1rem;
        background: #d9dbe0;
        border-radius: 10px;
    }
    
    .grid-view section img {
        width: 70%;
        margin: 0 auto;
        height: auto;
    }
    
    .list-view {
        display: inline;
        margin-bottom: 1rem;
    }
    
    .list-view section {
        display: grid;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        margin: 1rem;
        padding: 1rem;
        border: 2px solid #fdca40;
        padding: 1rem;
        background: #d9dbe0;
        border-radius: 10px;
    }
    
    .list-view section img {
        display: none;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }



}