header {
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content:  center;
    padding: 20px;
}

.img-logo {
    background-color: #396E94;
}

.img {
    margin-left: 22%;
    width: 50%;
}

.links {
    display: flex;
    width: 100%;
    
}

.navegation {
    
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    width: 100%;
    height: 3rem;
}

nav li {
    
    margin-right: 20px;
}

a {
    
    text-decoration: none;
    color: #E28710;
}

body {
    background-color: #E28710;
}


main {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 300px 300px 300px;
    margin-bottom: 20px;
    }
    
    main div {
    display: flex;
       
    background-color: lightgray;
    height: auto;
    width: auto;
    margin: 5px;
    }
    
    #event {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    }
    
    #hero {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    }
    
    #weather {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    }

#join {
    display: block;

    grid-column: 1/2;
    grid-row: 3/4;
}

#news {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    }
    
    .spotlights {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-column: 3 / 4;
        grid-row: 1 / 4;
    }
    
    #spotlight1, #spotlight2, #spotlight3 {
        border: 1px solid black;
        width: 95%;
        height: 95%;
    }
    
    #spotlight1 {
        grid-row: 1 / 2;
    }
        
    #spotlight2 {
        grid-row: 2 / 3;
    }
        
    #spotlight3 {
        grid-row: 3 / 4;
    }
    
    
    
    
footer {
    background-color: #23A427;
    margin-top: 100px;
    text-align: center;
    padding: 20px;
}







