@media only screen and (min-width: 64rem) {
    /* Header */
    #burgerBox {
        display: none;
    }

    #headerTextInfo {
        width: 15%;
    }

    #headerLogo{
        height: auto;
        width: 10%;
        padding:2vw;
    }

    #menu-nav {
        display: flex;
        justify-content: space-around;
    }

    /* Main */
    main {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        margin-bottom: 20px;
    }

    main div {
        height: auto;
        width: auto;
        margin: 5px;
    }

     /*Banner*/
     #banner
     {
         grid-column: 1/4;
         grid-row: 1/2;
     }

    /* Hero*/
    #hero {
        grid-column: 2/3;
        grid-row: 2/4;
        margin:5px;
    }

    #hero img {
        object-fit: cover;
    }
    
    #hero h2 {
        font-size: xx-large;
    }
    /*Event*/

    #events {
        grid-column:1/2;
        grid-row: 2/3;
    }

    /* Weather*/
    
    #weather {
        grid-column:1/2;
        grid-row: 3/4;
    }

    /*Join*/

    #join {
        display: flex;
        padding:3px;
        grid-column:1/2;
        grid-row: 4/5;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #join a {
        width: 80%
    }

    /*News*/
    #news {
        grid-column: 2/3;
        grid-row: 4/5;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    /*Spotlights*/

    #spotlight3 {
        display: block;
    }

    #spotlights {
        display: flex;
        flex-direction: column;
        grid-column: 3/4;
        grid-row: 2/5;
        margin-bottom: 5px;
        height: auto;
    }

    /* Footer */
    
    #footer-info-box2 {
        margin:auto;
    }

    #medium-footer {
        display:none;
    }

    #large-footer {
        display: block;
    }

    #large-footer p {
        font-size: medium;
    }
}