@media only screen and (min-width: 35rem) {

    /*Header*/
    h1 {
        font-size: xx-large;
    }



    /*Main*/

    main {
        display: grid;
        grid-template-columns: 60% 40%;
    }

    main div {
        margin: 10px 0px;
    }

 /* Banner */
 #banner {
    grid-row: 1/2;
    grid-column: 1/3;
}

    /*Hero*/
    #hero {
        grid-row: 2/3;
        grid-column: 1/3;
    }


    /*News*/
    #news {
        grid-row: 3/4;
        grid-column: 1/3;

    }

    /*Join*/
    #join {
        display: flex;
        flex-direction: column;
        grid-row: 5/6;
        grid-column: 1/3;
    }

    /*Event*/
    #events {
        margin: 10px;
        grid-row: 6/7;
        grid-column: 1/2;
        display: grid;
        flex-direction: column;
    }
    /*Weather*/

    #weather {
        margin: 10px;
        grid-row: 6/7;
        grid-column: 2/3;
    }

    #weather p {
        margin: 3px;
    }

    #spotlights {
        display: flex;
        grid-row: 4/5;
        grid-column: 1/3;

    }

    #spotlights div {
        padding: 0px;
        margin: 10px; 
        flex: 1;
    }

     /* Discover */

     #discover-head-ban {
        grid-column: 1/3;
    }

    picture img:hover {
        filter: blur(4px);
        transition: filter 0.3s;
    }
    
    #past-div {
        grid-column: 1/3;
    }

    #stadium-div {
        grid-column: 1/3;
    }

    #forum-div {
        grid-column: 1/3;
    }

    #museum-div {
        grid-column: 1/3;;
    }

    #autodrome-div {
        grid-column: 1/3;
    }

    #city-div {
        grid-column: 1/3;
    }

      /* Join */
      form {
        grid-column: 1/3;
    }

    /* footer */
    #info-footer {
        display: flex;
        flex: 1;
        padding: 10px;
    }

    #footerLogo {
        width: 170px;
        height: auto;
        padding: 10px;
        margin: 3px;
    }

    #footerLogo img {
        width: 100%;
        height: auto;
    }

    #footer-info-box1 {
        margin-bottom: auto;
        margin-top: auto;
        padding: 10px;
        text-align: left;
    }
    
    #footer-info-box2 {
        margin-right: 0px;
        margin-left: auto;
    }

    #small-footer {
        display: none;
    }

    #medium-footer {
        display: block;
        font-size: medium;
    }

    

}