

/* Font Changes */
h1, h2, h3 {
    font-family: 'Merriweather Sans', sans-serif;
}

p {
    font-family: 'Dosis', sans-serif;
}

/* Header */

body {
    background-color: #E28710;
    max-width: 100%;
    margin: auto;
    padding: 2vw;
}

header {
    background-color: #23A427;
    color: lightgray;
    margin-bottom: 30px;
    border: 1px solid #396E94;
}

#header-flexbox {
    display: flex;
}

#headerLogo{
    height: auto;
    width: 15%;
    padding:2vw;
}

#headerLogo img {
    width: 100%;
    height: auto;
}

h1 {
    font-size: large;
}

#headerTextInfo {
    color: #396E94;
    width:50%;
}

.social-image {
    height: auto;
    width: 40px;
}

#social-logo-box {
    width: fit-content;
    display: flex;
}

header nav{
    display: flex;
    flex: 1;
}

#primaryNav {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#head-date-holder {
    width: 80%;
    margin: auto;
    font-size: 1.5em;
    border-top: 1px solid #396E94;
    text-align: center;
}

/* Navigation Menu */
#menu-nav {
    margin: auto;
    width: 50%;
    display: none;
}

#menu-nav a {
    
    text-decoration: none;
    color: lightgray;
    font-size: 1.5rem;
}

#menu-nav a:hover {
    color:#E24110
}


/* Hamburger Menu */

#burgerBox {
    flex:1;
    text-align: right;
}


#primaryNav{
    display: none;
    background-color: #E24110;
    color:#CDCFDF;
    text-align: left;
}

#hamburgerBtn {
    margin: .2rem 2vw;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: #E24110;
}

#burgerBox.open {
    background-color: #E24110;
}

#primaryNav.open {
    display: block;
}

#primaryNav li a{
    display: block;
    padding: .8rem 2vw;
    color:lightgray;
    text-decoration: none;
   
}

#primaryNav li.active a {
    background-color:  #396E94;
}

#primaryNav li a:hover {
    background-color: #23A427;
}


#hamburgerBtn span:nth-child(1) {display:block;}
#hamburgerBtn span:nth-child(2) {display:none;}

#hamburgerBtn.open span:nth-child(1) {display:none;}
#hamburgerBtn.open span:nth-child(2) {display:block; color:#CDCFDF;}



/* Main */
main div {
    background-color: #396E94;
    text-align: center;
}

main h2 {
    color:#23A427;
    text-shadow:1px 1px 5px black;
    padding: 10px;
}

main p {
    font-size: large;
    text-shadow:1px 1px 2px #282A3E;
    padding: 10px;
    padding-bottom: 0px;
}

/*Banner Section*/

#banner {
    background-color: #23A427;
    border-radius: 10px;
    display: none;
}

#banner h2 {
    color: #E24110;
    text-shadow: 1px 1px 2px black;
    font-size: medium;
}

/*Hero Section*/

#hero {
    position: relative;
    padding: 0px;
    background-color: #E24110;
    box-shadow: 0px 0px 10px #282A3E;
    margin: 0px;
}


#hero h2 {
    color: #23A427;
    text-shadow: 1px 1px 3px #282A3E;
    position: absolute;
    top: 5px;
    margin-top: 5px;
    left: 10px;
}

#hero img{
    width:100%;
    height: 100%;
}

#hero a {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #E28710;
    opacity: 0.95;
    padding:15px;
    border-radius: 10px;
    text-decoration: none;
    color: #396E94;
    font-size: x-large;
}

#hero a:hover {
    background-color: #23A427;
    text-shadow: 1px 1px 1px #282A3E;
}



#hero p {
    margin-top: 100px;
}

/*Event Section*/

#events {
    box-shadow: 0px 0px 10px #282A3E;
}

#events img {
    width: 125px;
    height: 125px;
}

#events a {
    text-decoration: none;
    color:#E28710;
    font-size: large;
}

#events h3 {
    color: #E28710;
}

#events p {
    color: lightgray;
}

/*Weather Section*/

#weather {
    box-shadow: 0px 0px 10px #282A3E;
}

#weather-box-ph {
    display: flex;
    justify-content: space-around;
    height: auto;
    

}

#weather-box-ph img {
    width: 20%;
    height:auto;
}

#weather-degrees {
    color: lightgray;
}

#weather-box-ph p {
    font-size: xx-large;
    padding: 0px;
}


#weather-info-ph {
    padding-bottom: 5px;
    width: 50%;
    margin: auto;
}

#weather-info-ph hr {
    width: 100%;
}

#weather-info-ph p {
    color: lightgray;
    text-align: left;
    padding: 0;
}

#weather-info-ph div {
    display: flex;
    justify-content: space-between;
}

/*News*/
#news {
    box-shadow: 0px 0px 10px #282A3E;
}

#news p {
    color: lightgrey;
}

/*Spotlight */
#spotlights {
    height: fit-content;
    padding: 10px;
    margin-bottom: 15px;
    box-shadow: 0px 0px 10px #E28710;
}

#spotlights div {
    width: 90%;
    margin: 10px auto;
    box-shadow: 0px 0px 15px #282A3E;

}

#spotlights img {
    width: 150px;
    height: 150px;
}

#spotlights h3 {
    font-size: medium;
}

#spotlights hr {
    width: 70%;
}

#spotlights p {
    color: lightgray;
    margin: 3px;
    padding: 1px;
}

#spotlights a {
    display: block;
    margin: 10px;
    padding: 1px;
    color: #E28710;
    text-decoration: none;
}

#spotlights hr {
    width: 70%;
}


#spotlight3 {
    display: none;
}


/*Join Section */
#join {
    display: none;
    padding: 25px;
    box-shadow: 0px 0px 10px #282A3E;
}

#join a {
    margin-top: 100px;
    background-color: #E28710;
    color: #396E94;
    font-size: 20px;
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 1px 1px 20px black;
}

#join a:hover{
    background-color: #23A427;
    text-shadow: 1px 1px 1px #282A3E;
}

#join p {
    color: lightgray;
    font-size: larger;
}

/*Discover Page */
#lastVisit {
    text-align: center;
}

#discover-head-ban
{
    box-shadow: black 1px 1px 10px;
    background-color: #396E94;
    border-radius: 10px;
    color: #E24110;
    text-shadow: black 1px 1px 10px;
    padding:10px;
    text-align: center;
}

main h2 {
    text-shadow: black 1px 1px 10px;  
}

main div {
    padding: 10px;
    margin: 10px;
}

main div ul li {
    box-shadow: black 1px 1px 10px;
    font-family: 'Dosis', sans-serif;
    padding: 10px;
    font-size: 16px;
    text-shadow: black 1px 1px 10px;
}

picture img {
    width: 90%;
    padding: 10px;
}


picture img[data-src] {
    filter: blur(0.2em);
}

picture img {
    filter: blur(0em);
    transition: filter 0.5s;
}

/*Join Page*/

form fieldset {
    margin:2rem 0;
    border: 1px solid #E24110;
    background-color: #396E94;
    border-radius: 10px;
    padding: .5rem 2%;
}

form legend {
    color: white;
    margin: 0 auto;
    font-size: larger;;
    padding: 0 .10rem;
}

form label.top {
    display: block;
    padding-top: 1.70rem;
    color: black;
    font-size: 1,5rem;
}

form label.top input, form label.top select {
    display: block;
    font-size: 1.3rem;
    border: solid 1px #E24110;
    border-radius: 8px;
    padding: .60rem;
    color: black;
    width: 100%;
    max-width: 25rem;
    background-color: gray;
}

::placeholder {
    color: lightgray;
}


form label.sbs {
    font-size: 1.1rem;
    display: block;
    padding: .75rem 0;
    color: lightgray;
}

form label.sbs:hover {
    color: black;
}

form textarea {
    border: #E24110 1px solid;
    width: 90%;
    font-size: x-large;
    color: lightgray;
    border-radius: 10px;
    padding: 10px;
    background-color: gray;
    max-width: 40rem;
    margin: 1rem 0;
}



form input.submitBtn {
    font-size: large;
    border: #E24110 solid 1px;
    background-color: #E24110;
    color: lightgray;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    width: 96%;
    max-width: 20rem;
}

form input.submitBtn:hover {
    background-color: #396E94;
    color: lightgray;
}


form label.top input:required {
    border-left: red solid 6px;
}


form label.top input:required:valid
{
    border-left: greenyellow solid 6px;
}

.hidden {
    display: none;
}

.thanks {
    width: 50rem;
}


/* Footer */

footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #23A427;
    border: 1px solid #396E94;
}

footer a, p{
    margin: auto;
    text-decoration: none;
    color: lightgray;
}

#footerLogo img {
    width: 100%;
    height: auto;
}

h3 {
    color: #396E94;
    
}

#base-footer {
    border-top: 1px solid #396E94;
}

#base-footer h3{
    font-size: medium;
}

#base-footer p {
    font-size: small;
}

#medium-footer {
    display: none;
}

#large-footer {
    display: none;
}

