@media (max-width: 640px) {

    header {
        background: linear-gradient(to right, #00ccff, #00ff62);
        display: block;
        font-family: 'Orbitron', sans-serif;
    }

    h1 {
        display: block;
        font-size: 2em;
        margin-block-start: 0px;
        margin-block-end: 0px;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
    }

    header {
        position: relative;
    }

    #mode-toggle-btn {
        background-color: #302d2d;
        color: #00ccff;
    }

    .menu-btn {
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 999;
        cursor: pointer;
    }

    .menu {
        display: none;
    }

    .menu.active {
        display: block;
    }

    .menu-btn__line {
        width: 35px;
        height: 1px;
        background-color: #0a0a0a;
        position: relative;
        margin-bottom: 5px;
        transform-origin: center;
        transition: transform 0.3s ease;
    }

    .menu-btn__line:nth-child(1),
    .menu-btn__line:nth-child(3) {
        width: 100%;
    }

    .menu.active .menu-btn__line:nth-child(1) {
        transform: translateY(6px) rotate(45deg);
    }

    .menu.active .menu-btn__line:nth-child(2) {
        opacity: 0;
    }

    .menu.active .menu-btn__line:nth-child(3) {
        transform: translateY(-6px) rotate(-45deg);
    }

    .menu-btn.active .menu-btn__line:nth-child(1) {
        transform: translateY(6px) rotate(45deg);
    }

    .menu-btn.active .menu-btn__line:nth-child(2) {
        opacity: 0;
    }

    .menu-btn.active .menu-btn__line:nth-child(3) {
        transform: translateY(-6px) rotate(-45deg);
    }


    img {
        width: 100px;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    hr {
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    body {
        background-color: lightgray;
    }

    .dark-mode {
        background-color: #302d2d;
        color: #fff;
    }

    .dark-mode .card {
        color: white;
    }

    .dark-mode .card2 {
        color: white;
    }

    .dark-mode .name, h3 {
        color: #302d2d;
    }

    .dark-mode footer {
        color: #302d2d;
    }


    dark-mode form fieldset {
        margin: 2rem 0;
        border: 1px solid #00ccff;
        border-radius: 10px;
        padding: .5rem 2%;
    }


    .dark-mode form legend {
        color: #00ff62;
        margin: 0 1rem;
        padding: 0 .5rem;
    }

    .dark-mode form label.top, form div {
        display: block;
        padding-top: 1rem;
        color: white;
        font-size: 1rem;
    }

    
    .dark-mode form label.top input,
    form label.top select {
        -webkit-appearance: none;
        display: block;
        font-size: 1rem;
        border: solid 1px #00ff62;
        border-radius: 4px;
        padding: .75rem;
        color: black;
        width: 100%;
        max-width: 20rem;
        background-color: lightgray;
    }

    .dark-mode form label.sbs {
        padding: .4rem 0;
        color: white;
    }

    .dark-mode form input.submitBtn {
        border: none;
        background-color: #00ccff;
        color: white;
        border-radius: 1rem;
        padding: .75rem 1.5rem;
        margin: 0 0 2rem 2%;
        width: 96%;
        max-width: 20rem;
    }

    .dark-mode form label.top input:required {
        border-left: red solid 6px
    }

    .dark-mode form label.top input:required:valid {
        border-left: green solid 6px;
    }

    nav {
        background-color: black;
        margin: 0 auto;
    }

    nav ul li {
        display: block;
        list-style-type: none;
        font-family: 'Orbitron', sans-serif;
    }

    ul {
        margin-block-start: 0px;
        margin-block-end: 0px;
        padding-inline-start: 0px;
        font-family: 'Orbitron', sans-serif;
    }

    nav a {
        display: block;
        text-align: center;
        padding: 1rem;
        text-decoration: none;
        color: #00ccff;
    }

    nav a:hover {
        border: 1px solid #00ccff;
    }

    h2 {
        font-family: 'Orbitron', sans-serif;
    }

    #temple-hero img {
        width: 100%; /* Sets the width of the image to 100% of the container */
        height: auto; /* Allows height to be adjusted proportionally to width */
        max-width: 100%; /* Sets a maximum width equal to the width of the container */
    }
       
    .herolabel {
        position: absolute;
        top: 28%;
        left: 20px;
        background: radial-gradient(#fff, #97904d);
        border: 1px solid rgba(0, 0, 0, .75);
        padding: 1.5rem;
        box-shadow: 0 0 3rem #fff;
        color: black;
        opacity: 0.75;
        /* Buenas */
    }

    .herolabel p {
        margin: 0;
        padding: .15rem;
        font-weight: 700;
        font-size: 1rem;
        font-family: "Great Vibes", serif;
    }

    .grid-container {
        height: 25.5rem;
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .card {
        border: 1px solid #00ccff;
        padding: 0px;
        color: black;
        font-size: 20px;
        font-family: 'Orbitron', sans-serif;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        margin-top: 10px;
    }

    .section-header {
        background: linear-gradient(to right, #00ccff, #00ff62);
        padding: 10px;
    }

    .section-header h3 {
        margin: 0;
        width: 100%;
    }

    .dark-mode a {
        color: #00ccff;
    }

    .map-container {
        position: relative;
        width: 100%;
        height: 600px;
    }

    .map-container iframe {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    footer {
        margin-top: 40px;
        font-family: 'Orbitron', sans-serif;
        background: linear-gradient(to right, #00ccff, #00ff62);
        font-size: 20px;
        text-align: center;
        height: 7rem;
        padding: 10px;
    }


}