main {
    padding: 0 2%;
    min-height: 20rem;
}

body {
    background-color: #00ccff;
}

/*--------------Form-----------*/

form fieldset{
    margin: 2rem 0;
    border: 2px solid white;
    border-radius: 10px;
    padding: .5rem 2%;
}

form legend {
    
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label.top, form div {
   display: block;
   padding-top: 1rem;
 
   font-size: 1rem;
}


form label.top input, form label.top select {
    -webkit-appearance: none;
    display: block;
    font-size: 1.1rem;
    border: solid 2px #00ccff;
    border-radius: 4px;
    padding: .75rem;
    color: black;
    width: 100%;
    max-width: 20rem;
    background-color: lightgray;
}

form label.sbs {
    display: block;
    padding: .4rem 0;
    color: black;
}

form input.submitBtn {
    border: none;
    background-color: #00ccff;
    color: black;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

form label.top input:required {
    border-left: red solid 6px;
}

form label.top input:required:valid {
    border-left: green solid 6px;
}