main {
    padding: 0 2%;
    min-height: 20rem;
}

body {
    background-color: #00ccff;
}

/*--------------Form-----------*/

:root {
    --primary-color: white;
    --secondary-color: #00ff62;
    --font-size: 1rem;
}

form fieldset {
    margin: 2rem 0;
    border: 1px solid #00ccff;
    border-radius: 10px;
    padding: .5rem 2%;
}

form {
    width: 70%;
    margin: 2rem auto;
    padding: 0 2%;
    background-color: var(--primary-color);

    border-radius: 10px;
}

form legend {
    text-align: center;
    padding: 0 .5rem;
    font-size: 1.2rem;

}

form label,
form input,
form textarea {
    display: block;
    margin-bottom: 1rem;
}

form label {
    font-size: var(--font-size);
    color: black;
}

form input,
form textarea {
    font-size: var(--font-size);
    border: solid 2px var(--primary-color);
    border-radius: 4px;
    padding: .75rem;
    width: 100%;
    max-width: 20rem;
    background-color: lightgray;
}

form input[type="submit"] {
    font-size: 1.5rem;
    border-radius: 1rem;
    padding: 1rem 2rem;
    width: 100%;
    max-width: 20rem;
    margin: 2rem auto;
}

form input:required {
    border-left: red solid 6px;
}

form input:valid {
    border-left: green solid 6px;
}


form input[type="range"] {
    width: 100%;
}